header {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  #title {
    font-family: $titleFont;
    font-size: 5rem;
    font-weight: 100;
    margin-top: 4rem;
  }
  p {
    font-size: 1.2rem;
    margin-left: 3rem;
    font-family: $textFont;
  }
}
