nav {
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 3rem;
  text-align: center;
  width: 100%;
  a {
    padding: 0 2rem;
    color:  hsla(188, 100%, 6%, 0.58);
    font-family: $textFont;
    font-weight: bold;
  }
}



