.recipe-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    #recipe-container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        max-width: 1000px;
        #recipe-title {
            font-size: 3rem;
        }
        h1 {
            font-family: $titleFont;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        p,
        label {
            font-family: $textFont;
            margin: 1rem;
        }
        img {
            width: 100%;
            margin: 0 auto;
        }

        .recipe-description {
            input[type="checkbox"]:checked + label {
                text-decoration: line-through;
            }

            #steps {
                .step {
                    background-color: hsla(360, 0%, 27%, 0.85);
                    padding: 1rem;
                    border-radius: 20px;
                    color: white;
                    .step-index {
                        font-size: 1.2rem;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}

#editRecipe {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        font-family: $titleFont;
        color: white;
        background-color: orange;
        padding: 1rem 2rem;
        margin: 2rem;
    }
}

@media (min-width: 768px) {
    .recipe-wrapper {
        #recipe-container {
            text-align: left;
            img {
                width: 45%;
                margin: 3rem 0;
            }

            .recipe-description {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 2rem;

                #ingredients,
                #steps,
                #comment,
                #editRecipe {
                    grid-column: 1 / 4;
                }

                #steps {
                    hr {
                        width: 100%;
                        margin-top: -0.2rem;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    .recipe-wrapper {
        #recipe-container {
            img {
                width: 35%;
            }
        }
    }
}
